aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anywidget==0.9.13
appdirs==1.4.4
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==24.3.0
backoff==2.2.1
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
comm==0.2.2
connection-helper==0.8.13
contourpy==1.3.1
cssselect==1.2.0
cssutils==2.11.1
cycler==0.12.1
dataframe-image==0.2.6
dateutils==0.6.12
decorator==5.1.1
defusedxml==0.7.1
duckdb==1.1.3
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.21.1
fonttools==4.55.3
frozenlist==1.5.0
gitdb==4.0.12
gitpython==3.1.44
gw-dsl-parser==0.1.49.1
html2image==2.0.5
idna==3.10
importlib-resources==6.5.2
ipylab==1.0.0
ipython==8.31.0
ipywidgets==8.1.5
jedi==0.19.2
jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-pygments==0.3.0
jupyterlab-widgets==3.0.13
kaleido==0.2.0
kanaries-track==0.0.5
kiwisolver==1.4.8
lxml==5.3.0
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==0.11.10
mdurl==0.1.2
missingno==0.5.2
mistune==3.1.0
monotonic==1.6
more-itertools==10.6.0
multidict==6.1.0
narwhals==1.27.1
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
numpy==1.26.4
packaging==24.2
pandas==2.2.3
pandas-plots>=0.12.14
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
pip==24.3.1
platformdirs==4.3.6
plotly==5.24.1
prompt-toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.1
psygnal==0.11.1
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==19.0.0
pydantic==2.10.5
pydantic-core==2.27.2
pydeck==0.9.1
pygments==2.19.1
pygwalker==0.4.9.13
pyodbc==5.2.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-gnupg==0.5.4
pytz==2024.2
pyzmq==26.2.0
quickjs==1.19.3
referencing==0.36.1
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
scipy==1.15.1
seaborn==0.13.2
segment-analytics-python==2.2.3
six==1.17.0
smmap==5.0.2
soupsieve==2.6
sqlalchemy==2.0.37
sqlalchemy-utils==0.41.2
sqlglot==26.2.1
stack-data==0.6.3
streamlit==1.42.1
tenacity==9.0.0
tinycss2==1.4.0
toml==0.10.2
tornado>=6.5.0
traitlets==5.14.3
types-python-dateutil==2.9.0.20241206
typing-extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
wasmtime==28.0.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
yarl==1.18.3
